/*
* @Author: Qiansion
* @Date:   2019-05-18 01:20:03
* @Last Modified by:   Qiansion
* @Last Modified time: 2019-05-18 02:16:09
*/
/*导航主体*/
.nav-side{
	float: left;
	width: 130px;
	min-height: 100px;
}
.nav-side .nav-item{
	line-height: 25px;
	font-size: 13px;
}

.nav-side .nav-item .link{
	color:#888;
}

.nav-side .nav-item.active .link{
	color:#c60023;
	font-weight: bold;
}
/*右侧内容区*/
.content.with-nav{
	float: left;
	width: 950px;
}