/*
* @Author: Qiansion
* @Date:   2019-05-18 00:13:55
* @Last Modified by:   Qiansion
* @Last Modified time: 2019-05-18 00:19:57
*/
.footer{
	padding-bottom: 10px;
}
.footer .links{
	text-align: center;
	color:#666;
	line-height: 30px;
}
.footer .links .link{
	padding:0 10px;
}
.footer .copyright{
	text-align: center;
	color:#666;
	line-height: 30px;
}